/* .li { */
    /* テキストサイズを標準の 1.2 倍に設定 */
    /* font-size: 1.2em; 
    margin-bottom: 1.5em;
} */
/* .developer-names { */
    /* ブロック要素として表示
    display: block; 
    /* 上にスペースを追加 
    margin-top: 5px; 
    /* 左側にインデント 
    padding-left: 20px;  
} */
.h2 {
    /* margin-left: 1em; */
    font-size: 1.7em;
    margin-bottom: 0.3em;
}
/* .l-margin {
    margin-left: 1em;
}
.mini-font {
    font-size: 0.7em;
}
.big-font {
    font-size: 1.3em;
} */
